// FORM STYLES
form {
    font-size: 2.0rem;
    input[type="radio"] {
        display: none;
    }
    // .ratingSelector {
    //     align-items: center;
    // }
    .crap {
        margin: 0 5px;
    }
    .rating {
        opacity: 0.5;
    }
    .checked {
        opacity: 1;
    }
}