// GLOBAL STYLES
.wrapper {
    max-width: 1080px;
    margin: 0 auto;
    @media (max-width: 730px) {
        flex-direction: column;
    }
}

body {
    font-family: $primaryFont;
    background: black;
    color: white;
}

html {
    font-size: 62.5%;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    text-align: center;
    font-size: 3.6rem;
    padding-top: 60px;
    margin-bottom: 40px;
    color: firebrick;
}

h2 {
    font-size: 1.8rem;
    margin: 0;
}

main {
    padding-bottom: 50px;
    @media (max-width: 730px) {
        padding-bottom: 0;
    }
}

ul {
    list-style: none;
    padding: 0;
}

.flex {
    display: flex;
}

img {
    display: block;
}